h1{
    font-size: 52px;
	vertical-align: top;
	display: inline-block;
    background-color: rgb(221, 144, 228);
    width: 1140px;
    margin: 0 auto;
}
.logo{
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	height: 150px;
    border-radius: 15%/50%;
}

